.box {
    position: fixed;
    max-width: 400px;
    bottom: 0;
    right: 0;
}

.navi{
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

ul {
    list-style: none;
    float: right;
    margin-right: 30px;
}

li {
    display: inline;
    padding: 8px;
}

.current{
    color: cyan !important;
}

a{
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: azure;
}

a:hover {
    color: gray;
}