/* fixes navigation bar to top of the screen */
.navi{
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* makes sure list is in correct place and doesn't look like a default list */
ul {
    list-style: none;
    float: right;
    margin-right: 30px;
}

/* makes sure list items are centered and horizontal */
li {
    display: inline;
    padding: 8px;
    line-height: 170%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
}

/* shows which page the user is on */
.current{
    color: cyan !important;
}

/* Centers link to content */
.headline {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120%;
    width: 120%;
    opacity: 0;
    transition: 1s ease;
    background-color: black;
}

/* gets rid of underlines in links */
a{
    text-decoration: none;
}

/* color of links */
a:link {
    color: white;
}

/* color of visited links */
a:visited {
    color: azure;
}

/* color of links when hovered */
a:hover {
    color: gray;
}

/* makes sure backgorund image is in the back, fixed, and scales */
#bg{
    width: 200%;
    height: 200%;
    position: fixed;
    left: -50%;
    top: -50%;
    z-index: -1;
}

/* controls image size and position */
#bg img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 25%;
    min-height: 25%;
}

.image{
    display: block;
    width: 100%;
    height: auto;
}

.container:hover .headline{
    opacity: 1;
}

.text{
    top: 100%;
    left: 100%;
    transform: translate(-23%, -1%);
    -ms-transform: translate(-23%, -1%);
}