/* universal font */
* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* sets images width to a certain width */
img {
    max-width: 700px;
    max-height: 420px;
}

/* fixes navigation bar to top of the screen */
.navi {
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* makes sure list is in correct place and doesn't look like a default list */
.unnavi {
    list-style: none;
    float: right;
    margin-right: 30px;
}

/* makes sure list items are centered and horizontal */
.linavi {
    display: inline;
    padding: 8px;
    line-height: 170%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
}

/* shows which page the user is on */
.current{
    color: cyan !important;
}

/* Centers link to content */
.headline {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120%;
    width: 120%;
    opacity: 0;
    transition: 1s ease;
    background-color: black;
}

/* gets rid of underlines in links */
a{
    text-decoration: none;
}

/* color of links */
a:link {
    color: white;
}

/* color of visited links */
a:visited {
    color: azure;
}

/* color of links when hovered */
a:hover {
    color: gray;
}

/* makes sure backgorund image is in the back, fixed, and scales */
#bg{
    width: 200%;
    height: 200%;
    position: fixed;
    left: -50%;
    top: -50%;
    z-index: -1;
}

/* controls image size and position */
#bg img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
}

/* makes sure image is correct size */
.image{
    display: block;
    width: 50%;
    height: auto;
}

/* adds hover effect */
.container:hover .headline{
    opacity: 1;
}

/* formats the transition */
.text{
    top: 100%;
    left: 100%;
    transform: translate(-13%, -1%);
    -ms-transform: translate(-13%, -1%);
}

/* formats the container */
.container {
    margin: 3%;
    height: 100%;
    min-width: 80%;
    display: flex;
    justify-content: center;
    border-width: 5px;
    border-style: solid;
    overflow: scroll;
    padding: 3%;
}

/* formats figcaption within the div */
figcaption{
    margin-left: 7%;
    margin-top: 3%;
    min-width: 30%;
}

/* bolds text */
span{
    font-weight: bold;
}

/* sets width and position of ingredients */
.ing {
    float: left;
    width: 40%;
    padding: 10px;
}

/* sets width and position of directions */
.dir {
    float: left;
    width: 40%;
    padding: 10px;
}

/* formats the title */
.title {
    font-weight: bold;
    font-size: 330%;
    line-height: 100%;
}